/* Global Styles */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

/* Ensure smooth scrolling */
html {
  scroll-behavior: smooth;
}